body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-lane
{
    background-color: #2e2e2e;
   
}

.top-lane{
    height: 50vh;
    display: flex;
}

.editor
{
    flex-grow: 1;
    flex-basis: 0;
    display:flex;
    flex-direction: column;
    padding:0.5rem ;
}

.editor.collapsed
{
    flex-grow: 0;
}

.open-close-btn
{
    background:none;
    border: none;
    margin-left: 1.5rem;
    color: white;
}

.editor.collapsed .CodeMirror-scroll
{
    position: absolute;
    overflow:  hidden !important;
}

.editor-title
{
    display: flex;
    justify-content: space-between;
    background-color: #1a1a1a;
    color: white;
    padding: .5rem .5rem .5rem 1rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.code-mirror-wrapper
{
    flex-grow: 1;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    overflow: hidden;
}

.CodeMirror{
    height: 100% !important;
}

.bottom
{
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-container
{
    height: 50vh;
}